<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDg0_yZrC8xO9bLJEK1CVciDQCkG5DKHA</string>
	<key>GCM_SENDER_ID</key>
	<string>924631201218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventoryApp</string>
	<key>PROJECT_ID</key>
	<string>upwork-product-inventory</string>
	<key>STORAGE_BUCKET</key>
	<string>upwork-product-inventory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924631201218:ios:4a7205d30174ab79a9525b</string>
</dict>
</plist>